apiVersion: v1
kind: Secret
metadata:
  name: {{ ingress_controller.apps_cert.secretname }}
  namespace: {{ ingress_controller.apps_cert.namespace }}
data:
  tls.crt: {{ ingress_controller_vault.apps_tls_cert | b64encode }}
  tls.key: {{ ingress_controller_vault.apps_tls_key | b64encode }}
type: kubernetes.io/tls
