apiVersion: v1
data:
  tls.crt: {{ api_tls_cert }}
  tls.key: {{ api_tls_key }}
kind: Secret
metadata:
  name: {{ api_cert.secret-name }}
  namespace: {{ api_cert.namespace }}
type: kubernetes.io/tls
